<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Careers at andcards | andcards</title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="centered-content">
            <div class="text-h3">
                <h1>Open roles</h1>
            </div>
            <div class="text-h6">
                <p>When you apply for a position, please include the cover letter and the resume with a showcase of relevant experiences.</p>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="bg-semi-green">
            <div class="text">
                <div class="text-h2">
                    <h2>Customer Happiness Manager</h2>
                </div>
                <div class="text-p">
                    <p>EMEA Office • APAC Office</p>
                </div>
            </div>
            <div class="apply-btn">
                <input class="btn" type="submit" value="APPLY">
            </div>
        </div>
    </div>

    <div class="main">
        <div class="bg-semi-green">
            <div class="text">
                <div class="text-h2">
                    <h2>Account Executive</h2>
                </div>
                <div class="text-p">
                    <p>EMEA Office • Remote</p>
                </div>
            </div>
            <div class="apply-btn">
                <input class="btn" type="submit" value="APPLY">
            </div>
        </div>
    </div>

    <div class="main">
        <div class="bg-semi-green">
            <div class="text">
                <div class="text-h2">
                    <h2>Graphic Designer</h2>
                </div>
                <div class="text-p">
                    <p>Remote</p>
                </div>
            </div>
            <div class="apply-btn">
                <input class="btn" type="submit" value="APPLY">
            </div>
        </div>
    </div>

    <div class="main">
        <div class="bg-semi-green">
            <div class="text">
                <div class="text-h2">
                    <h2>Software Engineer</h2>
                </div>
                <div class="text-p">
                    <p>Remote</p>
                </div>
            </div>
            <div class="apply-btn">
                <input class="btn" type="submit" value="APPLY">
            </div>
        </div>
    </div>
</body>
</html>

